.tab-layout {
    padding: 0;
    margin: 0;

    & * {
        padding: 0;
        margin: 0;
    }

    & .tabs {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;

        & .tab {
            width: 100%;
            line-height: 2rem;

            color: black;
            background-color: #ddd;

            transition: all 500ms;
            &:hover {
                color: white;
                background-color: #1d2946;
            }
        }
    }

    & .content {
        max-height: 0rem;
        opacity: 0;

        transition: all 500ms;
        &.show {
            max-height: 4rem;
            opacity: 1;
        }
    }
}